.building-1 {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

.building-2 {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

.building-3 {
    border: 1px solid black;
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

.building-4 {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    display: inline-block;
    text-align: center;
    line-height: 120px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

.building-5 {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    line-height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

.building {
    border: 1px solid black;
    width: calc(var(--count) * 30px);
    height: calc(var(--count) * 30px);
    display: inline-block;
    text-align: center;
    line-height: calc(var(--count) * 30px);
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

.building-range {
    background-color: #ffaaaa !important;
    opacity: 0.5;
}

.building span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 12px;
    transform: scale(0.75);
    font-weight: bold;
}

.road {
    /* background-image: repeating-linear-gradient(
            45deg,
            #d8d8d8 0,
            #d8d8d8 1px,
            rgba(0, 0, 0, 0) 1px,
            rgba(0, 0, 0, 0) 7px
        ),
        repeating-linear-gradient(-45deg, #d8d8d8 0, #d8d8d8 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 7px); */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAIAAAC0Ujn1AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAEXRFWHRTb2Z0d2FyZQBTbmlwYXN0ZV0Xzt0AAAE6SURBVEiJ7VVLEsIwCAWuUZe297+A9+g0LvUYLS4YkeHTVN24MJsyvPBCII/iPM8AME73tgxiwHNZzwcortulLQMiMrPFZF3biZnFjqgwVrEkH4136zzeKl51prwAQNd20k1ip3mJEe9kt3lqPXOc7sxsN2kFJXcX35ZBYm25LYrrdvEuxPN4i52Ruuv9XB1iVz21Pb/q20GUoFhV3xBxB7WGp9aT087A8y2lqHNSxKrOiEfQ+GZsrNjk0nSXcg9GUfdmYuxLjZYuzcXy6trX6qsgO51JeaGnVbJ5RdilnzorrZKembJr3yJ7V6uJGvV2rg77UzRqNVdj1bdv1Si1O6K3iFqtJmo8orcKtbFkZ7TO7q7eInuMJZ3ROn9la1dvDo2x/3+jp/7/G3/03/iWVint20G9RV4b+wB4s+9T4iL+igAAAABJRU5ErkJggg==);
    background-color: #fdfebd;
    height: 30px;
    width: 30px;
}
