#map-chessboard {
    user-select: none;
    transform: scale(var(--scale), var(--scale));
}

#sign {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    width: 980px;
    color: grey;
    left: 2480px;
    bottom: 10px;
}

.sign-rotate {
    transform: rotate(-45deg);
    bottom: 1200px !important;
    left: 2780px !important;
}

#sign span {
    float: right;
}

#sign span a {
    color: #11131b;
    text-decoration: none;
}

#sign .a-dark {
    color: white;
}

.rotate {
    transform: rotate(45deg) scale(var(--scale), var(--scale)) !important;
}

.border-full {
    border: 1px solid #dddddd;
    background-color: #f5fafa;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.border-full-dark {
    border: 1px solid #363949;
    background-color: #292d3e;
}

.border-all-missing {
    background-color: #eef1f1;
    border: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.border-all-missing-dark {
    background-color: #1b1e2b;
}

.cell-selected {
    border: 2px solid orange !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#deletion-block {
    z-index: 30;
    width: 200px;
    height: 160px;
    background-color: #ff00003f;
    border: 1px solid #ff00008f;
    left: 1500px;
    top: 800px;
    position: absolute;
    box-sizing: border-box;
    display: none;
}
