#map-chessboard {
    user-select: none;
    transform: scale(var(--scale), var(--scale));
}

#sign {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    width: 980px;
    color: grey;
    left: 2480px;
    bottom: 10px;
}

.sign-rotate {
    transform: rotate(-45deg);
    bottom: 1200px !important;
    left: 2780px !important;
}

#sign span {
    float: right;
}

#sign span a {
    color: black;
}

.rotate {
    transform: rotate(45deg) scale(var(--scale), var(--scale)) !important;
}

.border-full {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.border-all-missing {
    border: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.cell-selected {
    border: 2px solid yellow !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.triangle-topleft {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.triangle-topleft::before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
}

.triangle-topleft::after {
    position: absolute;
    top: 30px;
    left: 0px;
    content: "";
    border-top: 10px solid black;
    border-right: 10px solid transparent;
}

.triangle-topright {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.triangle-topright::before {
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

.triangle-topright::after {
    position: absolute;
    top: 30px;
    right: 0px;
    content: "";
    border-right: 10px solid black;
    border-bottom: 10px solid transparent;
}

.triangle-bottomleft {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.triangle-bottomleft::before {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    border-right: 20px solid white;
    border-bottom: 20px solid transparent;
}

.triangle-bottomleft::after {
    position: absolute;
    top: 20px;
    left: 30px;
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.triangle-bottomright {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.triangle-bottomright::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    border-top: 20px solid white;
    border-right: 20px solid transparent;
}

.triangle-bottomright::after {
    position: absolute;
    top: 20px;
    right: 30px;
    content: "";
    border-right: 10px solid black;
    border-top: 10px solid transparent;
}

.angle-top {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.angle-top::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.angle-top::after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    border-right: 20px solid white;
    border-bottom: 20px solid transparent;
}

.angle-top-ancilla {
    position: relative;
    border: 0;
    overflow: visible;
}

.angle-top-ancilla::before {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid black;
}

.angle-top-ancilla::after {
    position: absolute;
    bottom: 0px;
    left: 60px;
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid black;
}

.angle-right {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.angle-right::before {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    border-right: 20px solid white;
    border-bottom: 20px solid transparent;
}

.angle-right::after {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    border-right: 20px solid white;
    border-top: 20px solid transparent;
}

.angle-right-ancilla {
    position: relative;
    border: 0;
    overflow: visible;
}

.angle-right-ancilla::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    border-top: 10px solid black;
    border-right: 10px solid transparent;
}

.angle-bottom {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.angle-bottom::before {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    border-right: 20px solid white;
    border-top: 20px solid transparent;
}

.angle-bottom::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

.angle-left {
    position: relative;
    border: 0;
    background: black;
    overflow: visible;
}

.angle-left::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.angle-left::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

.angle-left-ancilla {
    position: relative;
    border: 0;
    overflow: visible;
}

.angle-left-ancilla::before {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    border-top: 10px solid black;
    border-left: 10px solid transparent;
}
